@import "tailwindcss";

@theme {
  --color-brand-orange: #D4511A;
  --color-brand-orangeL: #E8622A;
  --color-brand-cream: #F5F0E8;
  --color-brand-black: #111111;
  --color-brand-gold: #C9A84C;
  --color-brand-bark: #3D2B1A;
  --color-brand-smoke: #7A6A58;

  --font-serif: Georgia, serif;
  --font-sans: Arial, sans-serif;

  --tracking-widest-2: 0.2em;
  --tracking-widest-3: 0.3em;
  --tracking-widest-4: 0.4em;

  --shadow-retro-sm: 3px 3px 0 #111111;
  --shadow-retro-md: 5px 5px 0 #111111;
  --shadow-retro-lg: 8px 8px 0 #111111;
  --shadow-retro-xl: 10px 10px 0 #111111;
  --shadow-retro-orange-sm: 4px 4px 0 #D4511A;
}