@import "tailwindcss";

@theme {
  --color-brand-orange: #C08FA3;
  --color-brand-orangeL: #D4AABC;
  --color-brand-cream: #FAF8F4;
  --color-brand-black: #0E0E0E;
  --color-brand-gold: #BFA05C;
  --color-brand-bark: #1D1B1C;
  --color-brand-smoke: #8C8288;
  --color-brand-sand: #ECEAE5;

  --color-brand-grey: #B8B3AF;

  --font-serif: Georgia, serif;
  --font-sans: Arial, sans-serif;

  --tracking-widest-2: 0.2em;
  --tracking-widest-3: 0.3em;
  --tracking-widest-4: 0.4em;

  --shadow-retro-sm: 3px 3px 0 #0E0E0E;
  --shadow-retro-md: 5px 5px 0 #0E0E0E;
  --shadow-retro-lg: 8px 8px 0 #0E0E0E;
  --shadow-retro-xl: 10px 10px 0 #0E0E0E;
  --shadow-retro-orange-sm: 4px 4px 0 #C08FA3;
}